body {

  background-image: linear-gradient(#12073a, #000000);
  height: 100vh;
  position: relative;
  font-family: 'Montserrat Subrayada', sans-serif;
}

#container {
  display: flex;
  flex-direction: column;
}

.top {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.res-score {
  display: flex;
  justify-content: space-between;
  flex-direction: column;

}

#title {
  text-decoration: underline;
  color: rgb(51, 28, 104);
  font-size: 2rem;
  user-select: none;
  text-shadow: 0 0 .1em rgb(0, 0, 0);
  transition: 400ms;
}


#restart {
  color: rgb(51, 28, 104);
  font-size: 30px;
  user-select: none;
  transition: 300ms;
  cursor: pointer;
}

#restart span:hover {
  color: rgb(181, 158, 236);
  text-shadow: 0 0 1em rgb(146, 126, 190);
}

.score {
  color: rgb(146, 126, 190);
  font-size: 30px;
  user-select: none;
  text-shadow: 0 0 1em rgb(146, 126, 190);
  text-align: center;
}

.grid-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.grid-container.unclickable {
  pointer-events: none;
}

.grid {
  display: flex;
  flex-direction: column;
}

.square {
  text-align: center;
  color: white;
  background-color: transparent;
  border: .1rem solid transparent;
  width: 4rem;
  height: 4rem;
  margin: 1rem;
  border-radius: 7%;
  position: relative;
  box-shadow: 0 0 10em rgb(51, 28, 104);
  transition: 300ms;
  cursor: pointer;
}

.square.disabled {
  pointer-events: none;
}

.square::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: var(--color, transparent);
  opacity: 0;
  border-radius: 7%;
  transition: 700ms;
  transform: rotate(45deg);

}

.square.active::before {
  opacity: 1;
  border: 4px solid rgb(51, 28, 104);
  pointer-events: none;
  box-shadow: 0 0 10em rgb(51, 28, 104);
}

.square:hover {
  /* background-color: #ff7300; */
  transform: rotate(45deg);
  border-color: white;

}

/* helper */

.unclickable {
  pointer-events: none;
}